*
{
	background-color: #dceaf1;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

p1  /* header */ 
{
	position: relative;
	font-family: bazinga;
	font-size: 4em;
	display: flex;
    justify-content: center;
	margin-bottom: 10px;
	
	background-image: linear-gradient(45deg, #ff0000, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	filter: drop-shadow(2px 2px 5px #333);
}

#stage 
{
	position: relative;
	width: 552px;
	height: 414px;
	margin: auto;
}

canvas  /* one square */
{
	display: block;
	position: absolute;
	width: 128px;
	height: 128px;
	cursor: grab;
	
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

@font-face 
{
	font-family: bazinga;
	src: url("fonts/bazinga.otf");
}

p  /* output */
{
	font-family: bazinga;
	font-size: 2em;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
	
	text-shadow: 2px 2px 4px #777776;
}

button
{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
	
	margin-left: calc(50% - 45px);
	display: flex;
	margin-top: -20px;
	
	font-family: bazinga;
	font-size: 1.25em;
	color: #000;
	height: 30px;
	width: 80px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:-webkit-linear-gradient(top, rgba(255,255,255,0.6), rgba(0,0,0,0.2));
	background:-moz-linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));
	background: linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));		
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	transition: 0.3s;
}

button:hover 
{
	/*[horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
	box-shadow: 1px 1px 2px yellow, 4px 4px 8px #48ff00, 8px 8px 6px cyan;
}